@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Set width for the scrollbar */
}

.hidden-scroll::-webkit-scrollbar{
  display: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #DEDEDE; /* Color of the scrollbar */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Remove scroll arrow buttons */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
}

/* Prevent scrolling when no-scroll class is active */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
/* Zoom & Pan Image Styles */
.zoom-container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

.zoomed {
  cursor: grab;
}

.image-move {
  transition: transform 0.1s ease-out;
}



