@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Set width for the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #DEDEDE; /* Color of the scrollbar */
  border-radius: 4px; /* Roundness of the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none; /* Remove scroll arrow buttons */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the track */
}


